<div class="section bg" id="blog">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-7 text-center">
                <div class="section-title">
                    <h2>Top Destinations</h2>
                    <p>I design and develop services for customers of all sizes, specializing in creating stylish, modern websites</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="blog-grid">
                    <div class="blog-img">
                        <div class="date">04 FEB</div>
                        <a href="#">
                            <img src="assets/im3.jpg" title="" alt="" class="imgh">
                        </a>
                    </div>
                    <div class="blog-info">
                        <h5><a href="#">Prevent 75% of visitors from google analytics</a></h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</p>
                        <div class="btn-bar">
                            <a href="#" class="px-btn-arrow">
                                <span>Read More</span>
                                <i class="arrow"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="blog-grid">
                    <div class="blog-img">
                        <div class="date">04 FEB</div>
                        <a href="#">
                            <img src="assets/im2.jpg" title="" alt="" class="imgh">
                        </a>
                    </div>
                    <div class="blog-info">
                        <h5><a href="#">Prevent 75% of visitors from google analytics</a></h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</p>
                        <div class="btn-bar">
                            <a href="#" class="px-btn-arrow">
                                <span>Read More</span>
                                <i class="arrow"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="blog-grid">
                    <div class="blog-img">
                        <div class="date">04 FEB</div>
                        <a href="#">
                            <img src="assets/im1.jpg" title="" alt="" class="imgh">
                        </a>
                    </div>
                    <div class="blog-info">
                        <h5><a href="#">Prevent 75% of visitors from google analytics</a></h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</p>
                        <div class="btn-bar">
                            <a href="#" class="px-btn-arrow">
                                <span>Read More</span>
                                <i class="arrow"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  